body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.myLogo{
  width: 100vw;
  height: auto;
  z-index: -1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: wiggle infinite 3s ease-in-out;
  }
}

.contact{
  font-weight: 600 !important;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  padding-bottom: 15%;
}


$theme-colors: (
    "outline-info": rgb(110, 255, 231),
    
);

.daRow > div{
  padding: 2rem 0;
}
.App-header p, h3{
  color: rgb(0, 0, 0);
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 150px;
  align-items: center !important;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img {   animation: wiggle 4s ease-in-out infinite;
    width: 150%; height: auto; position: relative; left: -30%; bottom: 2%; }
}


.App-link {
  color: #61dafb;
}


@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  box-sizing:border-box;
  -webkit-tap-highlight-color: transparent
}


html,body{
  height:100%;
  touch-action: manipulation;
}




.credits{
  margin-top:24px;
  &__reference{
      display:inline-block;

      border-bottom: 1px solid transparent;
      color:#0099ff;
      text-decoration:none;
      transition: ease-in .13s;
      &:hover{
         border-bottom-color: #0099ff;
      }
   }
}
