.contact-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  width: 100%;
  font-size: calc(1.1rem + 0.6vw);

  &:hover {
    color: #000;
  }

  &.navActive {
    color: #000;
  }
}
